[include mainsail.cfg]
[include toolhead_btt_ebbcan_G0B1_v1.2.cfg]
[include config.d/*.cfg]

###########################
###     MAIN FILES      ###
###########################
[include config.d/main.cfg]

#####################
### MACROS FOLDER ###
#####################
[include macros/*.cfg]
[include klicky/klicky-probe.cfg]
[include macros/KAMP/KAMP_Settings.cfg]
[include macros/KAMP/Adaptive_Meshing.cfg]

###########################
### HARDWARE COMPONENTS ###
###########################
[include config.d/hardware/extruder.cfg]
[include config.d/hardware/fans.cfg]
[include config.d/hardware/xy.cfg]
[include config.d/hardware/z.cfg]
[include config.d/hardware/heater_bed.cfg]
[include config.d/hardware/probe.cfg]
[include config.d/hardware/display.cfg]

###########################
### SOFTWARE COMPONENTS ###
###########################
[include config.d/software/bed_mesh.cfg]
[include config.d/software/qgl.cfg]

###############
### SCRIPTS ###
###############
[include scripts/*.cfg]

  
[force_move]
enable_force_move: True

    
## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 39.190
#*# pid_ki = 1.232
#*# pid_kd = 311.558
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 40.624
#*# pid_ki = 15.046
#*# pid_kd = 27.422
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 57.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 36.8
#*#
#*# [probe]
#*# z_offset = 5.920
#*#
#*# [bed_mesh g10]
#*# version = 1
#*# points =
#*# 	-0.026250, 0.003750, 0.012500, 0.013750, -0.033750
#*# 	-0.046250, -0.120000, -0.095000, -0.073750, -0.111250
#*# 	-0.042500, -0.006250, 0.000000, -0.012500, -0.050000
#*# 	-0.155000, 0.011250, -0.093750, -0.126250, -0.172500
#*# 	-0.036250, 0.012500, -0.105000, -0.033750, -0.032500
#*# tension = 0.2
#*# min_x = 40.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 40.0
#*# x_count = 5
#*# max_y = 260.0
#*# mesh_x_pps = 2
#*# max_x = 260.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.038750, -0.040000, -0.038750, -0.041250, -0.053750
#*# 	  -0.020000, -0.017500, -0.033750, -0.023750, -0.033750
#*# 	  0.001250, 0.018750, 0.000000, 0.013750, -0.016250
#*# 	  0.020000, 0.037500, 0.030000, 0.015000, 0.005000
#*# 	  0.037500, 0.048750, 0.020000, 0.021250, 0.015000
#*# tension = 0.2
#*# min_x = 88.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 87.0
#*# x_count = 5
#*# max_y = 213.0
#*# mesh_x_pps = 2
#*# max_x = 212.0
