[motors_sync]
accel_chip: beacon
axes: x,y
#    Accelerometer for collecting vibrations adxl345 / mpu9250 / lis2dw, etc.
microsteps: 16
#    Maximum microstepping of stepper motor rotor displacement, not worth
#    increase the value above 16, do so at your own peril and risk.
#steps_coeff: 999999 (deprecated steps_threshold)
#    Coefficient of number of microsteps of shaft displacement, depending 
#    on the magnitude value (impact), adjusted experimentally. Let's say
#    if our impact was 50,000 units, and the coeff was 10,000 - the motor
#    will move in 5 microsteps at a time to save time.
#fast_threshold: 999999
#    Threshold up to which the motor will not perform decaying oscillations,
#    to save time, due to the already high deviations. Be very be careful
#    when decreasing the value of this parameter.
#retry_tolerance: 999999
#    Forced threshold to which a pair of stepper motors should will omit
#    deviations. After several runs calibration, you will find the limit 
#    to which you can lower this parameter.
#retries: 0
#    Maximum number of repetitions to achieve forced motor synchronization
#    deviation threshold.
#respond: True
#    Enable / disable debugging of intermediate measurements.
model: quadratic
model_coeffs:
    161.8382376728,
    1889.6736633594,
    559.5870127897